@font-face {
    font-family: pro;
    src: url(/Product.ttf);
}
body {background-color: #1e1e1e;}
.navbar {
    background: none;
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 10px;
}
.navbar a {
    color: white;
    font-family: pro;
    font-size: 25px;
    padding: 10px;
    text-decoration: none;
}
.navbar a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.big-header {
    color: pink;
    margin: 5px;
    font-size: 50px;
    font-family: pro;
}
.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.main a {padding: 10px;}
.main button {
    background-color: #303030;
    border: none;
    border-radius: 20px;
    padding: 20px;
    transition: all .2s ease-in-out;
}
.main button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.main h1 {
    color: #ffc0cb;
    font-size: 20px;
}